{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/instructors/index.css">
  <link rel="stylesheet" href="/styles/instructors/create.css">
  <link rel="stylesheet" href="/styles/instructors/edit.css">
  <title>Gym Manager - Editar instrutor</title>
{% endblock head %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/9419482/500x500) no-repeat center center / cover"></section>

    <section class="details">
      <form method="POST" action="/instrutores?_method=PUT">
        <h3>Editar instrutor</h3>

        {% include "instructors/fields.njk" %}

        <input type="hidden" name="id" value="{{ instructor.id }}">
      </form>

      <form id="form_delete" method="post" action="/instrutores?_method=DELETE">
        <input type="hidden" name="id" value="{{ instructor.id }}">

        <button type="submit">Deletar</button>
      </form>
    </section>
  </div>
{% endblock content %}