{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/instructors/index.css">
  <link rel="stylesheet" href="/styles/instructors/create.css">
  <title>Gym Manager - Editar instrutor</title>
{% endblock head %}

{% block content %}
  <form class="card" method="POST" action="/instrutores">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/9419482/500x500) no-repeat center center / cover"></section>

    <section class="details">
      <h3>Editar instrutor</h3>

      {% include "instructors/fields.njk" %}
    </section>
  </form>

{% endblock content %}