{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/about.css">
{% endblock head %}

{% block content %}
    <section class="content">
        <h1>Sobre</h1>

        <div id="about">
            <div class="img">
                <img src="{{data.logo_image}}" alt="Imagem logo {{data.logo_title}}">
                <h2>{{data.logo_title}}</h2>
            </div>

            <div class="about-p">
                {% for item in data.about_paragraph %}
                    <p>{{item.paragraph}}</p>
                {% endfor %}
            </div>
        </div>

        <div id="tech">
            <div class="title">
                <h2>{{data.techs_title}}</h2>
            </div>

            <div class="container">
                <div class="grid">
                    {% for item in data.techs_image %}
                        <div class="card">
                            <img src="{{item.img}}" alt="Imagem de {{item.name}}">
                            <p>{{item.name}}</p>
                        </div>
                    {% endfor %}
                </div>

                <div class="img">
                    <img src="{{data.image_content}}" alt="{{data.image_content_alt}}">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}