{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/teachers/index.css">
  <link rel="stylesheet" href="/styles/teachers/create.css">

  <title>Class Manager - Editar Professor: {{ teacher.name }}</title>
{% endblock head %}

{% block content %}
  <form class="card" method="POST" action="/professores">
    <section class="avatar" style="background: url({{ teacher.avatar_url }}/500x500) no-repeat center center / cover"></section>

    <section class="details">
      <h3>Editar Professor</h3>

      {% include "teachers/fields.njk"%}
    </section>
  </form>
{% endblock content %}