.content {
    margin-top: 32px;
}

.content h1 {
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 32px;
}

#about {
    display: flex;
    margin: 0 32px 72px;
    
}

#about .img {
    text-align: center;
    margin-right: 30px;
}

#about .img img {
    border: 2px solid var(--color-green);
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: 10px 6px 6px 0px rgba(0, 0, 0, 0.4);
    
}

#about .img h2 {
    font-size: 28px;
    font-weight: 38px;
}

#about .about-p p {
    font-size: 24px;
    font-weight: 34px;
    opacity: 0.8;
    margin-bottom: 15px;
}

#tech {
    margin: auto 150px;
}

#tech .title h2 {
    font-size: 28px;
    margin-bottom: 32px;
}

#tech .container {
    display: flex;
}

#tech .container .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 28px 100px 0 0;
} 

#tech .container .grid .card img {
    width: 150px;
    margin-bottom: 10px;
}

#tech .container .grid .card p {
    font-size: 22px;
    text-align: center;
}

#tech .container .img img {
    width: 100%;
}

