{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/index.css">

  <title>Class Manager - Professores</title>
{% endblock head %}

{% block content %}
  <div class="card table">
    <div class="header">
      <a class="button" href="/professores/novo">Novo</a>
      

      <form action="/professores" method="GET">
        <input 
          type="text" 
          name="filter"
          placeholder="Nome ou acompanhamento" 
          value="{{ filter }}"
        >

        <button type="submit">Filtrar</button>
      </form>
    </div>


    <table width="100%">
      <thead>
        <tr>
          <th>Professor</th>
          <th>Acompanhamento</th>
          <th>Alunos</th>
          <th>Ação</th>
        </tr>
      </thead>

      <tbody>
        {% for teacher in teachers %}
          <tr>
            <td>
              <span style="background-image: url({{ teacher.avatar_url }})"></span>
              {{ teacher.name }}
            </td>
            <td>
              {% for service in teacher.services %}
                <span>{{ service }}</span>
              {% endfor %}
            </td>
            <td>{{ teacher.total_students }}</td>
            <td>
              <a href="/professores/{{ teacher.id }}">Ver</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div 
      class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
    ></div>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="/scripts/indexPagination.js"></script>
{% endblock scripts %}