@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: #26a9ad;
  --secondary-color: #f1d91c;
}

*{
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url(https://iprofe.com.br/images/bg-school.jpg);
}

header {
  background-color: rgba(0, 0, 0, 0.089);
  width: 100%;
  padding: 32px;
  border-bottom: 1px solid var(--primary-color);
  text-align: center;
  box-sizing: border-box;
}

.links {
  font-size: 22px;
}

.links a + a {
  margin-left: 32px;
}

.links a {
  text-decoration: none;
  color: #696969;
  position: relative;
}

.links a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -4px;
}

.links a:hover::after {
  width: 100%;
  transition: width 250ms ease-in-out 200ms;
}

.links a.active {
  font-weight: bold;
  color: var(--primary-color);
}

.card {
  width: 800px;
  min-height: 400px;
  background-color: #ffffff;
  margin: 45px auto;
  display: grid;
  grid-template-columns: 40% 1fr;
  box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  animation-name: up;
  animation-duration: 700ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

@keyframes up {
  from {
    transform: translateY(15px);
  }
  to {
    opacity: 1;
  }
}