{% extends "layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/index.css">
{% endblock head %}

{% block content %}
    <section class="content">
        <h1>Sobre</h1>

        <div id="about">
            <div class="img">
                <img src="/assets/rocketseat.png" alt="Logo Rocketseat">
                <h2>Rocketseat</h2>
            </div>

            <div class="about-p">
                <p>
                    Mais do que uma plataforma de educação em tecnologia, somos uma comunidade incrível de programadores
                    em busca do próximo nível. 🚀
                </p>

                <p>
                    Em um mundo onde a informação fica obsoleta cada vez mais rápido, velocidade de aprendizado é a
                    chave para o sucesso.
                </p>

                <p>
                    Por isso a Rocketseat oferece através de uma plataforma inteligente e metodologia prática, além de
                    comunidade, eventos, conteúdo e conexão com o mercado de trabalho, todas as ferramentas que você
                    precisa para masterizar no menor tempo possível as tecnologias mais modernas de desenvolvimento web
                    e mobile, e dessa forma avançar para o próximo nível como programador.
                </p>
            </div>
        </div>

        <div id="tech">
            <div class="title">
                <h2>Principais tecnologias utilizadas</h2>
            </div>

            <div class="container">
                <div class="grid">
                    <div class="card">
                        <img src="/assets/javascript.svg" alt="JavaScript">
                        <p>JavaScript</p>
                    </div>

                    <div class="card">
                        <img src="/assets/nodejs.svg" alt="Node.JS">
                        <p>Node.JS</p>
                    </div>

                    <div class="card">
                        <img src="/assets/reactjs.svg" alt="ReactJS">
                        <p>ReactJS</p>
                    </div>

                    <div class="card">
                        <img src="/assets/react-native.svg" alt="React Native">
                        <p>React Native</p>
                    </div>
                </div>

                <div class="img">
                    <img src="/assets/launch.svg" alt="Imagem de astronalta">
                </div>
            </div>
        </div>
    </section>
{% endblock content %}