{% extends "layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/products/create-edit.css">
  <title>LaunchStore | Novo produto</title>
{% endblock head %}

{% block content %}
  <section class="container form">
    <form method="POST" action="/produtos">
      <div class="header">
        <h3>Cadastrar produto</h3>
      </div>

      <div class="fields">
        {% include "products/fields.njk" %}
      </div>

      <button class="button" type="submit">Salvar</button>
    </form>
  </section>
{% endblock content %}

{% block scripts %}
  <script src="/scripts/masc.js"></script>
{% endblock scripts %}