input {
  width: 100%;
  outline: none;
  color: #555;
  font-weight: bold;
  font-size: 18px;
  margin-top: 4px;
}

input[type="radio"] {
  width: initial;
  margin-right: 4px;
}

input::placeholder {
  font-size: 16px;
  font-weight: normal;
}

button[type="submit"],
a.button {
  padding: 8px 32px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  margin-top: 32px;
  width: 100%;
  font-size: 16px;
}