.table {
  display: grid;
  grid-template: 64px 1fr 16px / 1fr;
  padding: 40px;
  box-sizing: border-box;
}

.table table {
  border-spacing: 0;
}

.table .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-self: start;
}

.table form {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 8px;
}

.table form input {
  border: 1px solid #eee;
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.table thead tr th {
  text-align: left;
}

td,
th {
  padding: 16px;
  border-bottom: 1px solid #d9d9d9;
}

th {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
}

tbody tr td:first-child span {
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px black;
  border: 2px solid white;
}

tbody tr td:last-child a,
.table a.button,
button[type="submit"] {
  background-color: var(--primary-color);
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.table a.button {
  width: 120px;
  text-align: center;
}

a:hover,
button:hover {
  opacity: 0.9;
  transition: 300ms;
}

.table thead tr th:last-child,
td:last-child {
  text-align: center;
}

.table .pagination {
  justify-self: center;
}

.pagination a,
.pagination span {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 16px;
}

.pagination a:last-child {
  margin-right: 0;
}

.pagination a:hover {
  filter: brightness(0.3);
  border-bottom: 1px solid var(--primary-color);
  transition: 300ms;
}