.table {
  display: block;
  padding: 40px;
  box-sizing: border-box;
}

.table .header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 32px;
}

.table form {
  display: grid;
  grid-template-columns: 1fr 120px;
  gap: 8px;
}

.table form input {
  border: 1px solid #eee;
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.table table {
  border-spacing: 0;
}

td,
th {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

th {
  text-transform: uppercase;
  color: #777;
  font-size: 14px;
}

tbody tr:last-child td {
  border-bottom: none;
}

tbody tr td:first-child {
  display: grid;
  grid-template-columns: 64px 1fr;
  align-items: center;
}

tbody tr td:first-child span {
  width: 48px;
  height: 48px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 3px 1px 6px -4px black;
  border: 2px solid white;
}

tbody tr td:nth-child(2) span {
  padding: 8px 16px;
  background-color: var(--secondary-color);
  border-radius: 16px;
  color: #777;
  margin: 8px 4px 0 0;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}

tbody tr td:last-child a,
.table a.button,
button[type="submit"] {
  background-color: var(--primary-color);
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  border-radius: 4px;
}

.table a.button {
  width: 120px;
  text-align: center;
}

tbody tr td:last-child a:hover {
  opacity: 0.9;
}

.table thead tr th:last-child,
td:last-child {
  text-align: center;
}